DATABASE_URL="postgresql://postgres:password@localhost:2010/postgres?schema=public"

JWT_SECRET=your-jwt-secret-here

STRIPE_PUBLISHABLE_KEY=pk_test_your_key_here
STRIPE_SECRET_KEY=sk_test_your_key_here

STRIPE_SUCCESS_URL=http://localhost:3000/stripe/success?session_id={CHECKOUT_SESSION_ID}
STRIPE_CANCEL_URL=http://localhost:3001/booking-failed
BOOKINGS_REDIRECT_URL=http://localhost:3001/bookings
